* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    display: flex;
}

/*Left Div CSS*/

.leftdiv {
    background: #364150;
    width: 220px;
    height: 100%;
    color: aliceblue;
}

.leftdiv a {
    color: aliceblue;
}

.leftheading {
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}

.leftdiv a {
    text-decoration: none;
}

.linksdiv {
    margin-top: 20px;
}

.linksdiv h5 {
    padding: 15px;
}

.linksdiv div {
    padding: 15px;
}

.linksdiv div:hover {
    background: #006699;
}

/*Right Div CSS*/

.rightdiv {
    background: #E9F7F7;
    height: 100%;
    flex:1;
    color: #535656;
    overflow: auto;
}

.headerdiv {
    background: #F1F7F7;
    display: flex;
    justify-content: center;
}

.headerdiv header {
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
}

.headerleftdiv {
    flex: 1;
    display: flex;
    
}

.headerrightdiv {
    display: flex;
    flex-wrap: wrap;
}

.nonsearchdiv {
    display: flex;
    margin-left: 0px;
    margin-right: 10px;
}

.menuicon {
    margin-left: 0px;
    margin-top: 3px;
    padding: 20px;
    font-size: 20px;
}

.creatediv {
    margin-left: 0px;
    margin-top: 5px;
    padding: 15px 0px;
    width: 80px;
}

.creatediv button {
    background-color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    border-radius: 5px;;
}

.searchdiv {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 14px;
}

.searchdiv input {
    border-radius: 25px;
    border: 0px;
    padding: 20px; 
    width: 200px;
    height: 15px;
    font-size: 15px;
}

.languagediv {
    margin-top: 25px;
    width: 92px;
}

.languagediv img{
    height: 15px;
    width: 20px;
}

.fullscreendiv {
    margin-left: 10px;
    margin-top: 24px;
    font-size: 20px;
}

.belldiv {
    margin-left: 10px;
    margin-top: 25px;
    font-size: 20px;
}

.profilediv {
    margin-left: 10px;
    margin-top: 12px;
}

.profilediv img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}



.headingdiv {
    display: flex;
    padding: 20px;
    flex-direction: row-reverse;
}

.headingdiv p {
    font-size: 13px;
    margin-top: 8px;
    color: gray;
}

.welcomediv {
    flex: 1;
}

.settingsdiv {
    padding-top: 5px;
}

.settingsdiv button {
    background-color: #5868BF;
    color: white;
    border: none;
    padding: 8px 12px;
    text-align: center;
    font-size: 13px;
    border-radius: 5px;
}

.cardsdiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.carddiv {
    width: 250px;
    height: 150px;
    background: #5868BF;
    margin-left: 20px;
    margin-right: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px 0px 10px 10px;
    color: aliceblue;
}

.cardupperdiv {
    display: flex;
    overflow: auto;
}

.cardimgdiv {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 50px
}

.cardorderdiv {
    margin: 15px 0px 0px 30px;
    text-align: center;
}

.tagdiv {
    margin-left: 20px;
    color: #70a588;
}

.fa-arrow-up {
    margin-top: 40px;
}

.bookmark {
    text-align: right;
    font-size: 50px;
    transform: rotate(90deg);
    margin-left: 22.3px;
}

.cardlowerdiv {
    display: flex;
    overflow: auto;
    padding-left: 10px;
    padding-top: 50px;
}

.cardlowerdiv i {
    margin-left: 100px;
}



.transaction_chat_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.trans {
    background: white;
    margin: 20px;
    border-radius: 10px;
    overflow: auto;
    height: 400px;
    padding: 20px;
}

table {
    margin: 20px;
    border-collapse: collapse;
}

caption {
    text-align: left;
    padding: 0px 10px 20px 0px;;
}

td,th {
    text-align: left;
    border-top: 2px solid gray;
    border-left: none;
    border-right: none;
    padding: 5px;
    font-size: 14px;
    margin-top: 20px;
    padding-left: 35px;
}

.imgflex {
    display: flex;
}

.imgflex img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.imgflex p {
    margin-top: 15px;
    margin-left: 10px;
}

.r {
    border-radius: 5px;
    padding: 2px;
    color: white;
    
}

.edit {
    color: white;
    background: #6666ff;
    border-radius: 1px;
    padding: 5px;
    font-size: 14px;
    border-radius: 3px;
}

.yellow {
    background: #ff9900;
}

.blue {
    background: #6666ff;
}

.red {
    background: red;
}

.green {
    background: #54a075;
}


.chatdiv {
    flex: 1;
    background: white;
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    height: 400px;
    max-width: 350px;
}

.chating {
    overflow: auto;
    height: 330px;
}

.headingchat{
    background: white;
    width: inherit;
    height: 30px;
}

.pptextdivodd {
    margin-top: 15px;
    display: flex;
}

.pptextdivodd .ppdiv img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-top: 5px;
}

.pptextdivodd .textdiv {
    padding: 10px;
    background: #b1c9ef;
    border-radius: 10px;
}

.pptextdiveven {
    margin-top: 15px;
    display: flex;
    flex-direction: row-reverse;
}

.pptextdiveven .textdiv {
    padding: 10px;
    background: #b1c9ef;
    border-radius: 10px;
}

.pptextdiveven .ppdiv img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 15px;
    margin-top: 5px;
}

.chattext {
    padding: 10px 0px;
    background: white;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row-reverse;
}

.chattext input{
    border-radius: 5px;
    border: 1px solid grey;
    padding: 15px 0px 15px 15px;
    height: 15px;
    font-size: 13px;
    flex: 1;
}

.chattext button {
    background-color: #70a588;
    color: white;
    border: none;
    padding: 8px 12px;
    text-align: center;
    font-size: 13px;
    border-radius: 3px;
    margin-left: 10px;
}

button, input {
  outline: none;
}

button:hover {
    cursor: pointer;
}

@media screen and (max-width: 830px) {
    .leftdiv {
        display: none;
    }
}

@media screen and (max-width: 570px) {
    .searchdiv {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    .languagediv {
        display: none;
    }
}